<!DOCTYPE html>
<html lang="zh-cn" mip>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="keywords" content="<yunu:config name='seo_keywords'/>">
    <meta name="description" content="<yunu:config name='seo_description'/>">
    <title><yunu:config name="seo_title" /> - <yunu:config name="site_title" /></title>
    <link rel="stylesheet" type="text/css" href="https://mipcache.bdstatic.com/static/v2/mip.css">
    <link rel="canonical" href="<yunu:config name='wapurl'/>">
    <style mip-custom>
        .mip-head{position:fixed;top:0;left:0;width:100%;background-color:#fd79a8;z-index:99;border-bottom:.1vw solid #ccc;height:13vw}
        .mip-head a{margin-left:2vw;float:left}
        .mip-head a p{line-height:13vw;font-size:5.5vw;color:#fff}
        .mip-head span{float:right;width:13vw;height:13vw;background:url(__PUBLIC__/img/other.png) no-repeat center;background-size:100%}
        .mip-carousle-subtitle{font-size:18px}
        .mip-carousel-indicator-wrapper{position:relative;top:-4vw;z-index:10}
        .mip-carousel-indicatorDot .mip-carousel-indecator-item{margin:0 1vw;width:2.4vw;height:2.4vw}
        .mip-carousel-indicatorDot .mip-carousel-activeitem{background-color:#fd79a8}
        .mip-nav h3.mip-tit a{transform:rotate(90deg)}
        .mip-nav mip-sidebar .mip-sidebar-content{width:50%;background-color:#fd79a8;border-left:.1vw solid #ccc}
        .mip-nav mip-sidebar ul{margin:0 10px}
        .mip-nav mip-sidebar li{display:block;margin-top:15px;margin-bottom:20px}
        .mip-nav mip-sidebar a{display:block;font-size:14px;line-height:24px;padding:4px 0;color:#fff;border-bottom:1px solid #fff;background-size:15%;padding-left:40px}
        .mip-nav mip-sidebar li:first-child a{background:url(__PUBLIC__/img/index.png) no-repeat left;background-size:15%}
        .mip-nav mip-sidebar li:first-child + li a{background:url(__PUBLIC__/img/about.png) no-repeat left;background-size:15%;background-size:15%}
        .mip-nav mip-sidebar li:first-child + li + li a{background:url(__PUBLIC__/img/pro.png) no-repeat left;background-size:15%}
        .mip-nav mip-sidebar li:first-child + li + li + li a{background:url(__PUBLIC__/img/new.png) no-repeat left;background-size:15%}
        .mip-nav mip-sidebar li:first-child + li + li + li + li a{background:url(__PUBLIC__/img/pic.png) no-repeat left;background-size:15%}
        .mip-nav mip-sidebar li:first-child + li + li + li + li + li a{background:url(__PUBLIC__/img/cont.png) no-repeat left;background-size:15%}
        .mip-nav mip-sidebar li:first-child + li + li + li + li + li + li a{background:url(__PUBLIC__/img/qt1.png) no-repeat left;background-size:15%}
        .mip-nav mip-sidebar li:first-child + li + li + li + li + li + li + li a{background:url(__PUBLIC__/img/qt2.png) no-repeat left;background-size:15%}
        .mip-nav mip-sidebar li:first-child + li + li + li + li + li + li + li + li a{background:url(__PUBLIC__/img/qt3.png) no-repeat left;background-size:15%}
        .mip-img-container{margin:0;padding-top:13vw;}
        .mip-foot{margin-bottom:17vw}
        .mip-foot .hotline{padding:3vw 0;font-size:4vw;line-height:6vw;color:#6e2005;text-align:center;background-color:#e3d5ce}
        .mip-foot .hotline .tel_number{color:#6e2005;font-family:Impact, sans-serif;font-size:6.4vw}
        .mip-foot .beian{color:#fd79a8;text-align:center;l    line-height: 1.3;font-size: 1vw;}
        .mip-foot .beian img{width:6vw;height:auto}
        .mip-foot-nav{position:fixed;bottom:0;left:0;width:100%;height:50px;background-color:#fd79a8;z-index:9}
        .mip-foot-nav a{width:24.7%;height:50px;float:left;text-align:center;color:#fff;border-left:1px solid #fff}
        .mip-foot-nav a:first-child{border-left:none}
        .mip-foot-nav a .mip-layout-container{width:29px;height:19px;display:block;margin:5px auto}
        .mip-foot-nav a span{font-size:13px;color:#fff}
        .mip-pic-list .mip-pic-box-con{margin:1vw 0;position:relative;border:.1vw solid #ccc;width:32%;height: 26vw;}
        .mip-pic-list .mip-pic-box{display:box;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:space-around;-webkit-justify-content:space-around;-moz-justify-content:space-around;-ms-justify-content:space-around;-o-justify-content:space-around;justify-content:space-around;}
        .mip-pic-list .mip-img-loaded{height:25vw;overflow:hidden}
        .mip-pic-list .mip-img-loaded img{height:100%;width:auto}
        .mip-pic-list .mip-pic-dec{position:absolute;bottom:0;font-size:3.2vw;line-height:1.8;color:#fff;background:rgba(0,0,0,.6);width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:center}
        .mip-article-list .mip-article-box{margin:2vw 0;text-align:left}
        .mip-article-list .mip-article-box li{position:relative;padding:3vw 0 0 9vw;margin-left:9vw;margin-right:2vw;height:21vw;border:1px solid #c9c9c9;border-right-color:transparent;border-top-color:transparent}
        .mip-article-list .mip-article-box li:first-child{border-top-color:#c9c9c9}
        .mip-article-list .mip-article-box li:first-child::before{content:"";position:absolute;right:0;width:1.4vw;height:1.4vw;background-color:#c9c9c9}
        .mip-article-list .mip-article-box li::after{content:"";position:absolute;right:0;width:1.4vw;height:1.4vw;background-color:#c9c9c9}
        .mip-article-list .mip-article-box li::before{top:-.7vw}
        .mip-article-list .mip-article-box li::after{bottom:-.7vw}
        .mip-article-list .mip-article-box li h2{margin-bottom:1.2vw;color:#6e2005;font-size:3.6vw;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
        .mip-article-list .mip-article-box li .pic{position:absolute;top:2vw;left:-7.5vw;width:15vw;height:15vw;border-radius:50%;border:.2vw solid #e6ddda;overflow:hidden;background-color:#f2f2f2}
        .mip-article-list .mip-article-box li .dev{color:#99776b;margin-top:.5vw;font-size:1vw;line-height:1.4;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
        .mip-index-about{background: url(/template/zhang_yu_xiao_si/wap/img/index-about-bg.jpg)no-repeat center/cover; padding:4vw 0}
        .mip-index-about h2{font-size: 4vw;line-height: 1.4;text-align: center;}
        .mip-index-about .pic1{padding: 2vw 0;width: 60vw;margin: auto;}
        .mip-index-about p{margin: auto;width: 80%;text-align: center;font-size: 3.6vw;line-height: 1.4;}
    </style>
    <noscript>
        <style mip-officialrelease>
            body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
        </style>
    </noscript>
</head>
<body>
<include file="public:header" />
<!--章鱼小思介绍 begin-->
<div class="mip-index-about">
    <h2>创新的DNA</h2>
    <h2>STEM教育综合服务商</h2>
    <mip-img class="pic1" src="__PUBLIC__/img/index-about-1.png"></mip-img>
    <p>每次工业革命，都是旧力量消失，</p>
    <p>新力量崛起，长存的，是创新者。</p>
    <p>将创新的DNA，埋入孩子的大脑，</p>
    <p>跟随章鱼小思STEM，让我们的孩子成为驱动时代的人。</p>
</div>
<!--章鱼小思介绍 end-->
<!--市场应用 begin-->
<div class="mip-pic-list">
    <div class="mip-pic-box">
        <yunu:catlist cid="92" orderby="sort desc" limit="9">
            <div class="mip-pic-box-con">
                <a href="{$catlist.url}">
                    <mip-img alt="{$catlist.title}" src="{$catlist.pic}"></mip-img>
                    <p class="mip-pic-dec">{$catlist.title}</p>
                </a>
            </div>
        </yunu:catlist>
    </div>
</div>
<!--市场应用 end-->

<include file="public:footer" />
</html>