<div class="mip-foot">
    <div class="hotline">
        <p><a href="tel:18651578961" class="tel_number">186-5157-8961（同微信）</a></p>
        <p>联系QQ：291185</p>
        <p>联系邮箱：gavin@one-stem.com</p>
        <p>联系地址：江苏省无锡市滨湖区万顺道万科城市花园南区</p>
        <p>技术支持：<a title="君科云电商" target="_blank" href="http://www.junke158.com/">君科云电商</a></p>
        <p>ICP备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">苏ICP备18053501号-1</a></p>
    </div>
</div>
<div class="mip-foot-nav">
    <a href="http://m.one-stem.com/">
        <mip-img src="__PUBLIC__/img/a1.png"></mip-img>
        <span>网站首页</span>
    </a>
    <a href="http://m.one-stem.com/about/">
        <mip-img src="__PUBLIC__/img/a3.png"></mip-img>
        <span>关于我们</span>
    </a>
    <a href="tel:18651578961">
        <mip-img src="__PUBLIC__/img/a4.png"></mip-img>
        <span>联系我们</span>
    </a>
</div>
<mip-fixed type="gototop">
    <mip-gototop></mip-gototop>
</mip-fixed>
<script src="https://mipcache.bdstatic.com/static/v2/mip.js"></script>
<script src="https://mipcache.bdstatic.com/static/v2/mip-nav-slidedown/mip-nav-slidedown.js"></script>
<script src="https://mipcache.bdstatic.com/static/v2/mip-gototop/mip-gototop.js"></script>
<script src="https://mipcache.bdstatic.com/static/v2/mip-vd-tabs/mip-vd-tabs.js"></script>
<script src="https://mipcache.bdstatic.com/static/v2/mip-sidebar/mip-sidebar.js"></script>


