.pBanner{position:relative;height:30vw}
.pBanner_con{padding-top:150px}
.pBanner_con h2{color:#fff}
.pBanner_con h3{margin-top:.5vw;color:#ea5420;}
.pBanner1{background:url(../img/banner/pbanner1.jpg) no-repeat center}
.pBanner2{background:url(../img/banner/pbanner2.jpg) no-repeat center}
.pages_nav{width:100%;border-bottom:.1vw solid #666;background-color:#dbdadb}
.pagesNavUl{display:box;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;
    -webkit-box-pack:flex-end;-webkit-justify-content:flex-end;-moz-justify-content:flex-end;-ms-justify-content:flex-end;-o-justify-content:flex-end;justify-content:flex-end;height:3vw;line-height:3vw}
.pagesNavUl li a{display:inline-block;padding:0 1.4vw;color:#575761;font-size:1.4vw}
.pagesNavUl li.active{background-color:#7d7d7d;color:#e6e6e6}
.pagesNavUl li.active a{color:#e6e6e6}
#introduce, #history, #culture, #qualifications{position:absolute;top:-5vw}
#aIintroduction{padding:4vw 0;position:relative;background-color:#dbdadb}
#aIintroduction .Apic{ width:39%;max-width:442px;height:auto;}
#aIintroduction .Atext{ margin-top:2vw;width:59%}
#aIintroduction .Atext .Atext_box{ margin-left:.5vw; margin-bottom:1.2vw}
#aIintroduction .Atext .Atext_box h2{font-size:1.4vw}
#aIintroduction .Atext .Atext_dec p{ font-size:1.2vw;text-indent:2.4vw;line-height:1.6;color:#6b6b6b;}
#aHistory{position:relative;background:url(../img/About/aHistory-bg.jpg) no-repeat center; height:40vw;max-height:698px;;overflow-x:hidden;}
#aHistory .aHistory_title{position:absolute;top:60px;left:0;right:0;text-align:center;color:#e6e6e6}
#aHistory .aHistory_title h2{font-size:30px}
#aHistory .aHistory_title p{font-size:24px}
#aHistory .aHistoryBanner{height:100%}
#aHistory .aHistoryBanner .next, #aHistory .aHistoryBanner .prev{position:absolute;top:-10px;width:20%;height:100%;cursor:pointer;z-index:999}
#aHistory .aHistoryBanner .prev{left:0;background:url(../img/About/aHistory-arrow-left.png) no-repeat left, -prefix-linear-gradient(to right, #000, transparent);background:url(../img/About/aHistory-arrow-left.png) no-repeat left, linear-gradient(to right, #000, transparent);background:url(../img/About/aHistory-arrow-left.png) no-repeat left, -moz-linear-gradient(to right, #000, transparent);background:url(../img/About/aHistory-arrow-left.png) no-repeat left, -webkit-gradient(to right, #000, transparent);background:url(../img/About/aHistory-arrow-left.png) no-repeat left, -o-gradient(to right, #000, transparent)}
#aHistory .aHistoryBanner .next{right:0;background:url(../img/About/aHistory-arrow-right.png) no-repeat right, -prefix-linear-gradient(to left, #000, transparent);background:url(../img/About/aHistory-arrow-right.png) no-repeat right, linear-gradient(to left, #000, transparent);background:url(../img/About/aHistory-arrow-right.png) no-repeat right, -moz-linear-gradient(to left, #000, transparent);background:url(../img/About/aHistory-arrow-right.png) no-repeat right, -webkit-gradient(to left, #000, transparent);background:url(../img/About/aHistory-arrow-right.png) no-repeat right, -o-linear-gradient(to left, #000, transparent)}
#aHistory .aHistoryBanner ul{top:205px;zoom:1;height:100%;overflow:initial !important}
#aHistory .aHistoryBanner ul li{width:32%;float:left}
#aHistory .tempWrap{height:100%}
#aHistory .aHistory_Bigbox{position:relative;top:-65px;width:200px;height:200px;margin:auto;cursor:pointer}
#aHistory .aHistory_Bigbox:before, .aHistory_Bigbox:after{content:"";position:absolute;top:0;bottom:0;margin:auto;width:200px;height:8px;background:url(../img/About/aHistory_line.png) no-repeat}
#aHistory .aHistory_Bigbox:before{right:-202px}
#aHistory .aHistory_Bigbox:after{transform:rotate(180deg);left:-202px}
#aHistory .aHistory_Bigbox .imgbox{position:absolute;top:0;bottom:0;left:0;right:0;opacity:0;visibility:hidden;-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;transition:all .35s ease-in-out;-webkit-transform:translateY(-100%);-moz-transform:translateY(-100%);-ms-transform:translateY(-100%);-o-transform:translateY(-100%);transform:translateY(-100%);z-index:99}
#aHistory .aHistory_Bigbox:hover .imgbox{opacity:1;visibility:inherit;-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}
#aHistory .aHistory_Bigbox .imgbox img{position:relative;border-radius:50%;width:100%;height:100%;box-shadow:0 0 0 10px rgba(233, 86, 36, .6);background-color:#fff}
#aHistory .aHistory_Bigbox .imgbox img:before{position:absolute;display:block;content:'';width:100%;height:100%;border-radius:50%;box-shadow:inset 0 0 0 16px rgba(255, 255, 255, .6), 0 1px 2px rgba(0, 0, 0, .3);-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;transition:all .35s ease-in-out}
#aHistory .aHistory_Bigbox .textBox{position:relative;text-align:center;color:#fff;z-index:11;border-radius:50%;-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;transition:all .35s ease-in-out;-webkit-transform:scale(1) translateY(0);-moz-transform:scale(1) translateY(0);-ms-transform:scale(1) translateY(0);-o-transform:scale(1) translateY(0);transform:scale(1) translateY(0)}
#aHistory .aHistory_Bigbox:hover .textBox{width:200px;height:200px}
#aHistory .textBox h2{position:absolute;font-size:45px;top:75px;left:0;right:0;margin:auto}
#aHistory .textBox p{position:absolute;font-size:16px;line-height:22px;top:130px;left:0;right:0;margin:auto}
#aHistory .aHistory_Bigbox:hover .textBox{position:relative;border-radius:50%;background-color:#e95624;-webkit-transform:scale(.5) translateY(100%);-moz-transform:scale(.5) translateY(100%);-ms-transform:scale(.5) translateY(100%);-o-transform:scale(.5) translateY(100%);transform:scale(.5) translateY(100%);z-index:999}
#aHistory .aHistory_Bigbox:hover .textBox h2{position:absolute;top:45px;left:0;right:0;margin:auto;font-size:55px}
#aHistory .aHistory_Bigbox:hover .textBox p{position:absolute;top:125px;left:50%;margin-left:-150px;width:300px;font-size:25px;line-height:34px}
#aCulture{position:relative;padding:80px 0 140px;background-color:#dcdbdc}
#aCulture .aCulture_title{text-align:center}
#aCulture .aCulture_title h2{font-size:30px;margin-bottom:20px}
#aCulture .aCulture_title p{font-size:24px;margin-bottom:60px}
#aCulture ul.container li{width:45%}
#aCulture ul.container li:nth-child(1), #aCulture ul.container li:nth-child(2){height:115px;margin-top:10px;margin-bottom:50px}
#aCulture .aCulture_top{padding-bottom:10px;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;justify-content:space-between;align-items:flex-end;border-bottom:1px solid #333}
#aCulture .aCulture_Tleft{font-size:19px;color:#ea5420}
#aCulture .aCulture_Tleft span{font-size:16px}
#aCulture .aCulture_Tright img{width:40px;height:40px}
#aCulture .aCulture_txt{padding-top:10px;font-size:15px;line-height:20px;letter-spacing:1px;color:#6b6b6b}
.aQuSlide{position:relative;margin-top:75px;color:#505050}
.aQuSlide .aQuTop{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;justify-content:space-between;align-items:center}
.aQuSlide .aQuTitle h2{margin-bottom:15px;font-size:30px}
.aQuSlide .aQuTitle p{font-size:24px}
.aQuSlide .aQuNav ul li{float:left;font-size:15px;padding:0 7px 5px;cursor:pointer;border-bottom:1px solid transparent}
.aQuSlide .aQuNav ul li.on{border-bottom:1px solid #e95625}
.aQuSlide .slideBox{overflow:hidden;zoom:1;padding:10px 0 0 35px;position:relative}
.aQuSlide .sNext, .aQuSlide .sPrev{position:absolute;left:5px;top:0;bottom:0;margin:auto;width:11px;height:19px;background:url(../img/other/arrow1-left.png) center center no-repeat}
.aQuSlide .sNext{left:auto;right:5px;background:url(../img/other/arrow1-right.png) center center no-repeat #f4f4f4}
.aQuSlide .sNext:hover, .aQuSlide .sPrev:hover{border-color:#f60}
.aQuSlide .aQuSlideInner ul{overflow:hidden;zoom:1}
.aQuSlide .aQuSlideInner ul li{margin:0 8px;float:left;overflow:hidden;text-align:center}
.aQuSlide .aQuSlideInner ul li .pic{width:250px;height:170px;overflow:hidden;text-align:center}
.aQuSlide .aQuSlideInner ul li .pic:hover img{-webkit-transform:scale(1.08);-moz-transform:scale(1.08);-ms-transform:scale(1.08);-o-transform:scale(1.08);transform:scale(1.08)}
.aQuSlide .aQuSlideInner ul li .pic img{width:250px;height:170px;display:block;padding:2px;border:1px solid #ccc}
.aQuSlide .aQuSlideInner ul li .pic a:hover img{border-color:#999}
.aQuSlideGroup{margin:100px 0}
.aQuSlideGroup .parHd ul{position:absolute;right:20px;top:30px}
.aQuSlideGroup .parHd ul li{float:left;font-size:15px;padding:0 7px 5px;cursor:pointer;border-bottom:1px solid transparent}
.aQuSlideGroup .parHd ul li.on{border-bottom:1px solid #e95625}
.aQuSlideGroup .slideBox{overflow:hidden;zoom:1;padding:10px 0 10px 42px;position:relative}
.aQuSlideGroup .sNext{left:auto;right:5px;background:url(../img/other/arrow1-right.png) center center no-repeat}
.aQuSlideGroup .sPrev:hover, .aQuSlideGroup .sNext:hover{border-color:#f60}
.aQuSlideGroup .parBd ul{overflow:hidden;zoom:1}
.aQuSlideGroup .parBd ul li{margin:0 8px;float:left;_display:inline;overflow:hidden;text-align:center}
.aQuSlideGroup .parBd ul li .pic{text-align:center}
.aQuSlideGroup .parBd ul li .pic img{width:260px;height:200px;display:block;padding:2px;border:1px solid #ccc}
.aQuSlideGroup .parBd ul li .pic a:hover img{border-color:#999}
.aQuSlideGroup .parBd ul li .title{line-height:24px;margin-top:10px}
.pagessearch{display:flex;justify-content:flex-end;height:40px;line-height:40px}
.searchBox1{margin:30px}
.searchBox2{margin:15px}
.searchCon{margin-bottom:30px;border:1px solid #888;border-radius:5px;padding:5px}
.searchTxtBox{padding:6px 5px;border-bottom:1px dashed #888}
.searchTxtBox:last-child{border-bottom:0}
.prodcutList .picList{margin:117px auto;text-transform:uppercase}
.prodcutList .picList .pic{position:relative;width:387px;height:308px;border:2px solid #dbdbdb;overflow:hidden}
.prodcutList .picList .pic:before{content:"";position:absolute;left:0;top:90px;transform:translateY(-50%);display:inline-block;width:0;height:2px;background-color:#fff;z-index:999}
.prodcutList .picList a:hover .pic:before{content:"";position:absolute;width:50px}
.prodcutList .picList .pic img{width:100%;height:100%;-webkit-transition:.6s;-moz-transition:.6s;-ms-transition:.6s;-o-transition:.6s;transition:.6s}
.prodcutList .picList .Licon{position:absolute;top:55px;left:-75px;font-size:60px;font-family:Arial, sans-serif;color:#fff;z-index:99;-webkit-transition:.6s;-moz-transition:.6s;-ms-transition:.6s;-o-transition:.6s;transition:.6s}
.prodcutList .picList .Ricon{position:absolute;top:5px;right:-55px;font-size:55px;color:#fff;z-index:99;-webkit-transition:.6s;-moz-transition:.6s;-ms-transition:.6s;-o-transition:.6s;transition:.6s}
.prodcutList .picList .mark{position:absolute;bottom:0;left:0;width:100%;height:0;color:#fff;background-color:rgba(234, 86, 36, .9);-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear}
.prodcutList .picList .markTxt{position:absolute;top:190px;left:55px;width:275px;line-height:25px;opacity:0;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear}
.prodcutList .picList .Ptitle{margin-bottom:20px;width:385px;height:80px;padding:15px 20px 0;border-bottom:2px solid transparent;-webkit-transition:.6s;-moz-transition:.6s;-ms-transition:.6s;-o-transition:.6s;transition:.6s}
.prodcutList .picList .zhTitle{margin:0;font-size:19px;color:#575761}
.prodcutList .picList .enTitle{margin:1px 0 0;font-size:15px;color:#c9c9c9;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.prodcutList .picList a:hover .Ptitle{padding-left:45px;border-bottom:2px solid #ec6f44;box-shadow:0 8px 20px rgba(0, 0, 0, .1);-webkit-box-shadow:0 8px 20px rgba(0, 0, 0, .1);-moz-box-shadow:0 8px 20px rgba(0, 0, 0, .1)}
.prodcutList .picList a:hover .pic img{transform:scale(1.1);-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear}
.prodcutList .picList a:hover .Licon{left:55px}
.prodcutList .picList a:hover .Ricon{right:50px}
.prodcutList .picList a:hover .mark{height:100%;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear}
.prodcutList .picList a:hover .markTxt{top:150px;opacity:1}
.Flip{padding:30px 0;text-align:center}
.Flip span{padding:5px 13px;font-size:16px;color:#f7f8f8;background-color:#a5a5a5;border-radius:5px}
.Flip span a{font-size:16px;color:#f7f8f8}
.Flip span.active{background-color:#eb5520}
.prodcutCon .paperCon{margin:10px auto;color:#6a6b6b}
.prodcutCon .paperCon h2{font-size:20px}
.prodcutCon .paperCon h3{margin-top:25px;margin-bottom:4px;font-size:16px;line-height:26px;color:#ea5420;border-bottom:1px solid #666}
.prodcutCon .paperCon thead, td, th{color:#6a6b6b}
.prodcutCon .paperCon img{max-width:100%;margin:auto}
.pageCon_title{font-size:20px;margin-bottom:10px;margin-top:0}
.pageCon_dec{color:#999;margin-bottom:30px;padding-bottom:10px;border-bottom:1px solid #ededed;font-size:12px}
.pageCon_flip{margin:50px auto;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;justify-content:space-between}
.pageCon_flip .flip_next, .pageCon_flip .flip_prev{color:#3e3a39;display:inline-block;font-size:18px;width:600px;height:100px;line-height:100px;cursor:pointer;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-webkit-transition:all .6s linear;-moz-transition:all .6s linear;-o-transition:all .6s linear;transition:all .6s linear}
.pageCon_flip .flip_next:hover, .pageCon_flip .flip_prev:hover{color:#f7f8f8;background-color:#eb5520}
.pageCon_flip .flip_next:hover .flip_icon, .pageCon_flip .flip_prev:hover .flip_icon, .pageCon_flip .flip_next:hover a, .pageCon_flip .flip_prev:hover a{color:#f7f8f8}
.pageCon_flip .flip_icon{color:#eb5520;font-size:20px}
.pageCon_flip .flip_prev{padding-left:20px}
.pageCon_flip .flip_prev:hover{padding-left:10px}
.pageCon_flip .flip_next{padding-right:20px;text-align:right}
.pageCon_flip .flip_next:hover{padding-right:10px}
.pageCon_flip a{color:#3e3a39}
.pageCon_flip a:hover{color:#fff}
.prodcutCon .picList{margin:auto auto 60px}
.prodcutCon .picList .title{margin-bottom:35px}
.NewsList{padding:40px 0}
.NewsList ul.NewsList_ul li{margin:20px 0;padding:20px;border-bottom:1px solid #e5e5e5;cursor:pointer;-webkit-transition:.6s;-moz-transition:.6s;-ms-transition:.6s;-o-transition:.6s;transition:.6s}
.NewsList ul.NewsList_ul li:hover{margin-left:10px;box-shadow:2px 2px 34px 4px rgba(0, 0, 0, 0.1)}
.NewsList ul.NewsList_ul li .NlistPic{width:280px;height:200px;border:1px solid #e5e5e5;overflow:hidden;-webkit-transition:.6s;-moz-transition:.6s;-ms-transition:.6s;-o-transition:.6s;transition:.6s}
.NewsList ul.NewsList_ul li .NlistPic img{width:100%;height:100%}
.NewsList ul.NewsList_ul li .NlistPic:hover img{transform:scale(1.1)}
.NewsList ul.NewsList_ul li .NlistCon{width:845px;color:#6b6b6b}
.NewsList ul.NewsList_ul li .NlistCon .Nlist_Top{display:flex;justify-content:space-between;align-items:center}
.NewsList ul.NewsList_ul li .NlistCon .Nlist_title{margin-top:30px;font-size:20px}
.NewsList ul.NewsList_ul li .NlistCon .Nlist_time{font-family:inherit;font-size:22px}
.NewsList ul.NewsList_ul li .NlistCon .Nlist_Right{font-size:20px;padding-right:5px}
.NewsList ul.NewsList_ul li:hover .NlistCon .Nlist_title{color:#f75a53}
.NewsList ul.NewsList_ul li .NlistCon .Nlist_dec{margin-top:25px;line-height:22px;width:680px}
.NewsCon{margin:25px auto}
.NewsCon a{color:#666}
.NewsCon .main{float:left;margin-top:15px;width:70%;color:#666}
.NewsCon .main img{max-width:790px}
.NewsCon .aside{float:right;width:26%}
.NewsCon .aside .aside_titile{font-size:16px;margin:15px 0;padding-bottom:15px;border-bottom:1px solid #ededed}
.NewsCon .aside ul.aside_list li{line-height:26px}
.NewsCon .aside ul.aside_list a:hover{color:#f75a53}
.NewsCon .aside ul.aside_list .aside_list-l{float:left;width:65%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.NewsCon .aside ul.aside_list .aside_list-r{float:right}
.contactBanner{position:relative;background:url(../img/banner/contact.jpg) no-repeat center;height:300px}
.contactBanner_title{padding-top:150px}
.contactBanner_title h2{font-size:30px;color:#fff}
.contactBanner_title p{font-size:28px;color:#ea5420}
.contact{margin:60px 0}
.contact .title{padding-bottom:20px;margin-bottom:50px;text-align:center;border-bottom:1px dotted rgba(170, 170, 170, 0.2)}
.contact .contactCon{display:flex;flex-wrap:wrap;justify-content:space-between}
.contact .contactCon .contactConBox{margin-top:30px;width:370px}
.contact .contactCon .contactConBox .con1 h2{font-size:20px;line-height:35px;color:#bfbfbf;font-weight:700}
.contact .contactCon .contactConBox .con1 p{font-size:13px;color:#666;margin-bottom:15px;line-height:25px}
.contact .contactCon .contactConBox .con2 p{font-size:16px;color:#666;margin-bottom:0;line-height:26px}