<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="<yunu:config name='seo_keywords'/>">
    <meta name="description" content="<yunu:config name='seo_description'/>">
    <title> <yunu:config name="seo_title"/>-<yunu:config name='seo_keywords'/></title>
    <include file="header:style"/>
</head>
<body>
<!--首页banner部分  begin-->
<section class="layui-carousel" id="webBanner" style="width:100%;height:100%">
    <include file="public:header" index="1"/>
    <div carousel-item="">
        <div class="web-banner web-banner-1" title="{$site_info.site_name}">
            <div class="layui-container">
                <p class="img ban1 animated fadeInUp wow" data-wow-delay="0s">HEAT MANAGEMENT SCHEME</p>
                <p class="img ban2 animated fadeInUp wow" data-wow-delay="0.4s">FOR POWER BATTERY</p>
                <p class="img ban3 animated fadeInUp wow" data-wow-delay="0.8s">动力电池
                    <span style="color:#ea5420">热管理</span>方案</p>
                <img src="__PUBLIC__/img/banner/iBanner1-4-1.png" class="img ban4-1 fadeInUp fast wow" data-wow-delay="1.2s">
                <img src="__PUBLIC__/img/banner/iBanner1-4-2.png" class="img ban4-2 fadeInUp fast wow" data-wow-delay="1.6s">
                <img src="__PUBLIC__/img/banner/iBanner1-4-3.png" class="img ban4-3 fadeInUp fast wow" data-wow-delay="2s">
            </div>
        </div>
        <div class="web-banner web-banner-2" title="{$site_info.site_name}">
            <div class="layui-container">
                <p class="img ban1 animated fadeInUp wow" data-wow-delay="0s">PIPELINE HEATING ND INTELLIGENT</p>
                <p class="img ban2 animated fadeInUp wow" data-wow-delay="0.4s">CONTROL SCHEME</p>
                <p class="img ban3 animated fadeInUp wow" data-wow-delay="0.8s">
                    <span style="color:#ea5420">管道加热</span>与智能控制方案</p>
                <img src="__PUBLIC__/img/banner/iBanner2-4-1.png" class="img ban4-1 animated fadeInUp wow" data-wow-delay="1.2s">
                <img src="__PUBLIC__/img/banner/iBanner2-4-2.png" class="img ban4-2 animated  fast wow" data-wow-delay="1.6s">
            </div>
        </div>
        <div class="web-banner web-banner-3" title="{$site_info.site_name}">
            <div class="layui-container">
                <p class="img ban1 animated fadeInUp wow" data-wow-delay="0s">MEDICAL DEVICE HEATER</p>
                <p style="color:#ea5420" class="img ban2 animated fadeInUp wow" data-wow-delay="0.4s">
                    医疗器械加热器</p>
                <img src="__PUBLIC__/img/banner/iBanner3-3.png" class="img ban3 animated fadeInUp wow" data-wow-delay="0.8s">
            </div>
        </div>
        <div class="web-banner web-banner-4" title="{$site_info.site_name}">
            <div class="layui-container">
                <p class="img ban1 animated fadeInUp wow" data-wow-delay="0s">SPECIALED IN R&D AND
                    MAUFACTURING</p>
                <p class="img ban2 animated fadeInUp wow" data-wow-delay="0.4s">超过<span>2O
                    年</span>的加热器研发及生产经验 </p>
            </div>
        </div>
    </div>
</section>
<!--首页banner部分 end-->
<include file="public:footer"/>
</body>
</html>
