<script src="//code.sunbingchen.cn/layui/layui.all.js"></script>
<script src="//code.sunbingchen.cn/swiper/js/swiper.min.js"></script>
<script src="//code.sunbingchen.cn/superslide/jquery.superslide.js"></script>
<script src="https://cdn.bootcss.com/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="__PUBLIC__/js/toast.js"></script>
<script src="__PUBLIC__/js/moveline.js"></script>
<script src="__PUBLIC__/js/main-down.js"></script>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>