html, body{height:100%}
html{height:1900px}
.layui-container, .layui-row{max-width:1200px}
h2{font-size:2vw;line-height:1.4}
h3{font-size:1.4vw;line-height:1.4}
.web-title{padding:4.6vw 0;text-align:center;color:#3e3a39}
.btn-success{display:inline-block;color:#fff;background-color:#f75a53;border-radius:5px;padding:10px 20px 8px 20px}
.btn-success:active, .btn-success:focus, .btn-success:hover{color:#fff;background-color:#589ed7;text-decoration:none}
.More{position:relative;margin-top:2vw;display:box;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-orient:horizontal;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;-o-flex-direction:row;flex-direction:row;-webkit-box-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center;width:6vw;height:2vw;color:#fff;font-size:1vw;border:.1vw solid #fff}
.More > span{position:absolute;left:22px;z-index:9;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear}
.More:before{content:"";position:absolute;left:50px;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear}
.More:after{content:'';position:absolute;top:0;left:0;width:0;height:100%;z-index:1;opacity:0;background-color:#ea5420;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;transition:all .3s}
.More:hover{border-color:transparent;color:#fff}
.More:hover > span{left:10px}
.More:hover:before{content:">";position:absolute;left:55px;z-index:9}
.More:hover:after{opacity:1;width:100%}
#webBanner .layui-carousel-arrow{width:5vw;height:5vw;margin-top:-1vw;line-height:5vw;font-size:4vw}
#webBanner .web-banner .img{position:absolute;font-size:2.5vw;font-weight:600}
#webBanner .web-banner-1{color:#fff;background:url(../img/banner/banner1.jpg) no-repeat center/cover}
#webBanner .web-banner-2{color:#3e3a39;background:url(../img/banner/banner2.jpg) no-repeat center/cover}
#webBanner .web-banner-3{color:#3e3a39;background:url(../img/banner/banner3.jpg) no-repeat center/cover}
#webBanner .layui-carousel-ind ul{position:absolute;left:12vw;bottom:2vw;padding:.4vw}
#webBanner .layui-carousel-ind ul li{width:2vw;border-radius:0;background-color:#fff;-webkit-transition:.36s;-moz-transition:.36s;-ms-transition:.36s;-o-transition:.36s;transition:.36s}
#webBanner .layui-carousel-ind ul li.layui-this{width:5vw;background-color:#ea5420;-webkit-transition:.36s;-moz-transition:.36s;-ms-transition:.36s;-o-transition:.36s;transition:.36s}
#header .headerWarpper{position:fixed;top:3.5vw;width:100%;z-index:99999;-webkit-transition:.36s;-moz-transition:.36s;-ms-transition:.36s;-o-transition:.36s;transition:.36s;}
#header .headerTop{ position:fixed;top:.5vw;width:100%;z-index:999;-webkit-transition:.36s;-moz-transition:.36s;-ms-transition:.36s;-o-transition:.36s;transition:.36s}
#header.Min .headerTop{position:fixed;top:-3vw;width:100%;z-index:999;-webkit-transition:.36s;-moz-transition:.36s;-ms-transition:.36s;-o-transition:.36s;transition:.36s}
#header .headerTop .layui-container{}
#header .headerWarpper .layui-container{background-color:#fff;padding-bottom:6px;border-bottom:3px solid #247ac7;}
#header.Min .headerWarpper{position:fixed;top:0;-webkit-transition:.36s;-moz-transition:.36s;-ms-transition:.36s;-o-transition:.36s;transition:.36s}
#header .tLogo{width:22vw}
#header .tLogo img{height:3.2vw;max-width:21.5vw;line-height:6vw;vertical-align:baseline;-webkit-transition:.36s;-moz-transition:.36s;-ms-transition:.36s;-o-transition:.36s;transition:.36s}
#header.Min .tLogo img{height:2.8vw;line-height:4vw;vertical-align:baseline;-webkit-transition:.36s;-moz-transition:.36s;-ms-transition:.36s;-o-transition:.36s;transition:.36s}
#header .main-menu{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex}
#header .main-menu li > a{display:inline-block;padding:0 1.8vw;text-align:center;height:100%;font-size:15.83px;}
#header .main-menu li{position:relative;height:90px;line-height:90px; font-size:0;-webkit-transition:.36s;-moz-transition:.36s;-ms-transition:.36s;-o-transition:.36s;transition:.36s}
#header.Min .main-menu li{height:72px;line-height:72px;-webkit-transition:.36s;-moz-transition:.36s;-ms-transition:.36s;-o-transition:.36s;transition:.36s}
#header .main-menu li:hover{position:relative;overflow:inherit}
#header .main-menu li:hover > a, #header .main-menu li.active > a{background-color:#e06940}
#header .main-menu li dl{position:absolute;top:100px;left:0;width:100%;opacity:0;visibility:hidden;text-align:center;z-index:99999;-webkit-transition:.36s;-moz-transition:.36s;-ms-transition:.36s;-o-transition:.36s;transition:.36s}
#header .main-menu li:hover dl{top:90px;opacity:1;visibility:inherit;-webkit-transition:.36s;-moz-transition:.36s;-ms-transition:.36s;-o-transition:.36s;transition:.36s}
#header.Min .main-menu li:hover dl{top:72px}
#header .main-menu li dl dd{color:#fff;line-height:40px;border-top:1px solid rgba(255, 255, 255, .3);background-color:rgba(0, 0, 0, .3)}
#header .main-menu li dl dd:first-child{border-top:none}
#header .main-menu li dl dd a{display:inline-block;width:100%;font-size:14px}
#header .main-menu li dl dd:hover a, #header .main-menu li dl dd.active a{color:#e06940}
#header .language, #header .language a{font-size:1.2vw;}
.Iabout-Inews{position:relative;width:100%;height:30vw}
.Iabout-Inews .Bg{position:absolute;width:100%;height:100%;background-color:#505050}
.Iabout{width:50%}
.Iabout-title{margin-top:5vw;color:#fff}
.Iabout-text{margin-top:2vw;font-size:1.2vw;line-height:1.5;color:#fff}
#new{display:inline-block;position:relative;width:45%;height:100%;color:#fff;z-index:999}
#iNewsSwper{height:100%;background:url(../img/Inews/Inews-bg.png) no-repeat center/cover}
.Inews-console{position:absolute;right:0;top:-40px;width:100%;height:100%;text-align:right}
.Inews-console .Bg{background-color:#e06940}
.Inews-console .iNbtn{display:inline-block;font-size:2.2vw;margin-right:20px;cursor:pointer;-webkit-user-select:none;user-select:none}
.Inews-content{margin:1.4vw 2vw}
.Inews-ul{margin:1vw 0}
.Inews-ul li > a{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;justify-content:space-between;color:#fff;font-size:1.2vw;padding:.5vw 0}
.Inews-ul li > a:hover{color:#e95420}
.Iapplication{background-color:#dcdbdc}
.Iapplication-title{padding:5vw 0;text-align:center}
.Iapplication-box{position:relative;width:100%}
.Iapplication-box img{width:100%;height:auto;-webkit-transition:.6s;-moz-transition:.6s;-ms-transition:.6s;-o-transition:.6s;transition:.6s}
.Iapplication-box .textbox{position:absolute}
.Iapplication-box .textbox-content .gradient{width:100%;height:100%;background-color:#3e3a39}
.Iapplication-box .textbox-content{position:relative;height:100%}
.Iapplication-box .textbox-content p{ font-size:1.7vw;line-height:1.6;}
.Iapplication-box .textbox-content .dec{margin-top:1.6vw;font-size:1.2vw;color:#898989}
.Iapplication-box .textbox-content .title{-webkit-transition:.6s;-moz-transition:.6s;-ms-transition:.6s;-o-transition:.6s;transition:.6s}
.Iapplication-box .textbox-content .num{position:absolute;width:4vw;height:auto}
.Iapplication-box .textbox-content .ico{position:absolute;width:2vw;height:2vw;-webkit-transition:.6s;-moz-transition:.6s;-ms-transition:.6s;-o-transition:.6s;transition:.6s}
.Iapplication-box .pic{position:absolute;top:0;z-index:99;overflow:hidden;display:box;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-moz-justify-content:center;-ms-justify-content:center;-o-justify-content:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center}
.Iapplication-box2 .pic, .Iapplication-box4 .pic{background-color:#e95420}
.Iapplication-box:hover img{-webkit-transform:scale(1.08);-moz-transform:scale(1.08);-ms-transform:scale(1.08);-o-transform:scale(1.08);transform:scale(1.08)}
.Iapplication-box1, .Iapplication-box3{height:28vw}
.Iapplication-box2, .Iapplication-box4{margin:5vw 0;height:28vw}
.Iapplication-box1 .textbox-content .num, .Iapplication-box3 .textbox-content .num{ top:15vw;right:10%;}
.Iapplication-box1 a:hover .textbox-content .num, .Iapplication-box3 a:hover .textbox-content .num{right:5%}
.Iapplication-box a:hover .ico{background:url(../img/Iapplication/Iapplication-iconH.png) no-repeat center;transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg)}
.Iapplication-box1 .textbox, .Iapplication-box3 .textbox{background-color:#ea5521}
.Iapplication-box1 .textbox a, .Iapplication-box3 .textbox a{color:#fff}
.Iapplication-box1 .textbox-content, .Iapplication-box3 .textbox-content{background-color:#a6a6a6}
.Iapplication-box1 .pic, .Iapplication-box3 .pic{left:0;width:55%;height:25vw}
.Iapplication-box1 .textbox-content .title, .Iapplication-box3 .textbox-content .title{position:absolute; top:6vw;left:24%;color:#fff}
.Iapplication-box1 a:hover .textbox-content .title, .Iapplication-box3 a:hover .textbox-content .title{left:25%}
.Iapplication-box1 .textbox-content .ico, .Iapplication-box3 .textbox-content .ico{top:23vw;left:23%;background:url(../img/Iapplication/Iapplication-icon.png) no-repeat center}
.Iapplication-box1 a:hover .textbox-content .ico, .Iapplication-box3 a:hover .textbox-content .ico{left:25%;background:url(../img/Iapplication/Iapplication-iconH.png) no-repeat center}
.Iapplication-box1 .textbox, .Iapplication-box3 .textbox{top:0;right:0;width:55%;height:100%}
.Iapplication-box2 .textbox a, .Iapplication-box4 .textbox a{color:#3e3a39}
.Iapplication-box2 .textbox-content .num, .Iapplication-box4 .textbox-content .num{top:-1vw;left:2vw}
.Iapplication-box2 a:hover .textbox-content .num, .Iapplication-box4 a:hover .textbox-content .num{left:3vw}
.Iapplication-box2 .title, .Iapplication-box4 .title{position:absolute;top:4vw;left:3vw;color:#666;width:23vw}
.Iapplication-box2 a:hover .textbox-content .title, .Iapplication-box4 a:hover .textbox-content .title{left:4vw}
.Iapplication-box2 .pic, .Iapplication-box4 .pic{right:0;width:55%;height:28vw;overflow:hidden}
.Iapplication-box2 .textbox, .Iapplication-box4 .textbox{top:0;left:0;width:55%;height:100%}
.Iapplication-box2 .textbox-content .ico, .Iapplication-box4 .textbox-content .ico{background:url(../img/Iapplication/Iapplication-iconH.png) no-repeat center;bottom:2vw;left:2vw}
.Iapplication-box2 a:hover .textbox-content .ico, .Iapplication-box4 a:hover .textbox-content .ico{left:3vw}
.Iadvantage{padding-bottom:4vw;width:100%;background:url(../img/Iadvantage/Iadvantage-bg.jpg) no-repeat center}
.Iadvantage-title, .Icustomer-title{padding:3vw 0;text-align:center;color:#c9caca}
.Iadvantage-title h2, .Icustomer-title h2{text-transform:uppercase}
.Iadvantage-title p, .Icustomer-title p{margin-top:1vw;font-size:1.2vw}
.Iadvantage-content .box{width:25%;text-align:center;color:#c9caca;cursor:pointer}
.Iadvantage-content .box .icon-pic{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);-webkit-transition:.8s ease-in-out;-moz-transition:.8s ease-in-out;z-index:2}
.Iadvantage-content .box:hover .icon-pic{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-ms-transform:rotateY(180deg);-o-transform:rotateY(180deg);transform:rotateY(180deg)}
.Iadvantage-content .box .icon-text h2{padding-top:20px;color:#ea5521}
.Iadvantage-content .box .icon-text h3{color:#fff}
.Iadvantage-content .box .icon-text .text{padding-top:1.2vw;font-size:1vw;line-height:1.5}
.Iadvantage-content .box .icon-text .text span{font-size:1.2vw;color:#ea5521}
.Icustomer-title{color:#3e3a39}
#iCustomer{position:relative;margin-bottom:2vw}
#iCustomer .iCusbtn{position:absolute;top:50%;margin-top:-1.5vw;width:3vw;height:3vw;font-size:3vw;color:#ea5521;text-align:center;z-index:99}
#iCustomer .iCusbtn1{left:-3vw}
#iCustomer .iCusbtn2{right:-3vw}
#iCustomer .icustomer-slide .pic{display:inline-block;width:13vw;border:.12vw solid #ccc}
footer .form-input{position:relative;margin:1vw 0}
footer input, footer textarea{border:0;border-radius:.5vw;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;padding:.5vw;font-size:1.2vw;width:100%;background-color:#ebebec;color:#666;}
footer .form-icon{position:absolute;display:inline-block;right:1vw;top:0.3vw;width:1.8vw !important;height:1.8vw !important;font-size:1.7vw;color:#999}
footer{color:#ececed}
footer p{font-size:1.2vw;line-height:2}
footer a, footer a:hover{color:#ececed}
.footer-title h2{color:#ea5521}
.footer-title h3{margin-bottom:.5vw}
.footer1{padding:3vw 0 6vw;width:100%;background-color:#3e3a39;border-top:.5vw solid #595757}
.footer1 .footer-box1 .coolbg{color:#fff;background-color:#ea5521; cursor:pointer;}
.footer1 .footer-box2{text-align:center}
.footer1 .footer-box2 .title{display:inline-block;margin-bottom:1.5vw;padding:0.5vw 2vw;border:0.5vw solid #f0844a;border-radius:2vw;background-color:#ea5521}
.footer1 .footer-box2 .femail a{font-size:1.4vw;color:#ea5521;text-decoration:underline}
.footer1 .footer-box2 .fico{margin:1vw 0;display:box;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-moz-justify-content:center;-ms-justify-content:center;-o-justify-content:center;justify-content:center}
.footer1 .footer-box2 .fico .icon{position:relative;margin:0 .5vw;padding:.2vw .6vw;display:box;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center;border:1px solid;font-size:1.2vw;height:2.2vw;color:#fff;border-radius:.5vw;cursor:pointer}
.footer1 .footer-box2 .fico .fa-weixin img{position:absolute;bottom:3vw;left:50%;margin-left:0;height:0;width:0;background:#ccc;border-radius:.5vw;opacity:0;-ms-transition:.5s;-moz-transition:.5s;-o-transition:.5s;-webkit-transition:.5s;transition:.5s}
.footer1 .footer-box2 .fico .fa-weixin:hover img{position:absolute;margin-left:-8vw;height:16vw;width:16vw;opacity:1;-ms-transition:.5s;-moz-transition:.5s;-o-transition:.5s;-webkit-transition:.5s;transition:.5s}
.footer1 .footer-box2 .footer-sign img{height:3vw;width:auto}
.footer1 .footer-box3 .top form{position:relative}
.footer1 .footer-box3 .top form .submit{position:absolute; width:3vw;height:100%;margin-top:.1vw;top:0;right:0;cursor:pointer;background-image:url(../img/other/search.png);background-color:transparent;background-position-x:50%;background-position-y:50%;background-repeat-x:no-repeat;background-repeat-y:no-repeat;background-size:auto 2vw;background-position:50% 50%;}
.footer1 .footer-box3 .bottom{margin-top:5vw}
.footer1 .footer-box3 .bottom .content{display:box;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:align-items;-webkit-justify-content:align-items;-moz-justify-content:align-items;-ms-justify-content:align-items;-o-justify-content:align-items;justify-content:align-items;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;-o-flex-wrap:wrap;flex-wrap:wrap;margin-left:-.4vw}
.footer1 .footer-box3 .bottom .content li a{padding-left:0.5vw;padding-right:0.2vw;font-size:1.2vw;line-height:1}
.footer2{width:100%;height:2.4vw;line-height:2.4vw;font-size:1.1vw;text-align:center;background-color:#ea5521;text-transform:uppercase}
.footer2 span{margin-left:2vw}
.footer2 span:first-child{margin-left:0}
.footer2 img{vertical-align:middle}
