<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="mobile-agent" content="format=html5;url=http://m.sunbingchen.cn/" />
<link rel="canonical" href="//www.sunbingchen.cn">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<meta name="robots" content="all,follow" />
<meta name="google" content="all,follow" />
<meta name="verify" content="all,follow" />
<meta name="Author" content="Sun BingChen" />
<meta name="Copyright" content="© http://www.sunbingchen.cn" />
<link rel="icon" type="image/x-icon" href="<yunu:config name="site_ico"/>" />
<link rel="shortcut icon" type="image/x-icon" href="<yunu:config name="site_ico"/>" />
<link rel="stylesheet" href="//code.sunbingchen.cn/layui/css/layui.css" />
<link rel="stylesheet" href="//code.sunbingchen.cn/sbc-ui/layui-fix.css" />
<link rel="stylesheet" href="//code.sunbingchen.cn/animate.css/animate.min.css">
<link rel="stylesheet" href="//code.sunbingchen.cn/swiper/css/swiper.min.css"/>
<link rel="stylesheet" href="//code.sunbingchen.cn/sbc-ui/font-adaptation-v1.0.1.css" />
<link href="__PUBLIC__/css/main.css" rel="stylesheet" />
<link href="__PUBLIC__/css/inner_page.css" rel="stylesheet" />
<script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="//code.sunbingchen.cn/wow/dist/wow.min.js"></script>
<script src="__PUBLIC__/js/iconfont.js"></script>
