<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="<yunu:config name='seo_keywords'/>">
    <meta name="description" content="<yunu:config name='seo_description'/>">
    <title> <yunu:config name="seo_title"/>-<yunu:config name='seo_keywords'/></title>
    <include file="header:style"/>
</head>
<body>
<include file="public:header" index="1"/>
<!--服务项目 begin-->
<section class="iService">
    <div class="layui-row">
        <div class="layui-col-xs5 layui-col-sm5 layui-col-md5 layui-col-lg5 iService-left sbc-text-right">
            <div class="iService-left-con">
                <p class="p1">— 服务项目 —</p>
                <p class="p2">+</p>
            </div>
        </div>
        <div class="layui-col-xs7 layui-col-sm7 layui-col-md7 layui-col-lg7 iService-right sbc-sp">
            <div class="iService-box">
                <svg class="icon" aria-hidden="true"><use xlink:href="#icon-chanpin"></use></svg>
                <span>高压泵产品研发</span>
            </div>
            <div class="iService-box">
                <svg class="icon" aria-hidden="true"><use xlink:href="#icon-dingzhijiaju"></use></svg>
                <span>设计与定做</span>
            </div>
            <div class="iService-box">
                <svg class="icon" aria-hidden="true"><use xlink:href="#icon-gongneng_zhizaoqiye"></use></svg>
                <span>制造与安装</span>
            </div>
            <div class="iService-box">
                <svg class="icon" aria-hidden="true"><use xlink:href="#icon-maijiabz"></use></svg>
                <span>销售与服务</span>
            </div>
        </div>
    </div>
</section>
<!--服务项目 end-->
<include file="public:footer"/>
</body>
</html>
