<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="<yunu:config name='seo_keywords'/>">
    <meta name="description" content="<yunu:config name='seo_description'/>">
    <title>{$category.title} - <yunu:config name="site_title"></title>
    <include file="header:style"/>
  <script src="//code.sunbingchen.cn/superslide/jquery.superslide.2.1.3.js"></script>
</head>
<body>
<!--内页banner部分  begin-->
<section class="pBanner pBanner1">
  <include file="public:header"/>
  <div class="pBanner_con layui-container">
    <h2 class="wow animated fadeInUp">Contact Us</h2>
    <h3 class="wow animated fadeInUp" data-wow-delay="0.5s">联系我们</h3>
  </div>
</section>
<!--内页banner部分 end-->
<!--内页导航区域 begin-->
<section class="pages_nav aBg">
  <ul class="pagesNavUl layui-container">

  </ul>
</section>
<!--内页导航区域 end-->
<!--联系我们内容区域 begin-->
<section class="contact sbc-padding-4vw">
    <div class="title sbc-text-center">
        <h2 class="wow fadeInUp" data-wow-delay="0.5s">Contact us</h2>
    </div>
    <hr>
    <div class="contactCon layui-container">
        <div class="layui-row layui-col-space30">
            <div class="contactConBox layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4">
                <h2 class="wow fadeInUp" data-wow-delay="0.5s">江阴市辉龙电热电器有限公司</h2>
                <p class="wow fadeInUp" data-wow-delay="0.5s">地址：江苏省江阴市青阳镇洪腾路21号</p>
                <p class="wow fadeInUp" data-wow-delay="0.5s">电话：86-510-86553506 </p>
                <p class="wow fadeInUp" data-wow-delay="0.5s">传真：86-510-86559285</p>
                <p class="wow fadeInUp" data-wow-delay="0.5s">E-mail: hualong@hl-js.com</p>
            </div>
            <div class="contactConBox layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4">
                <h2 class="wow fadeInUp" data-wow-delay="0.5s">上海办事处</h2>
                <p class="wow fadeInUp" data-wow-delay="0.5s">地址：上海市浦东新区浦东大道2188号506室 </p>
                <p class="wow fadeInUp" data-wow-delay="0.5s">电话 ：86-21-66185655</p>
                <p class="wow fadeInUp" data-wow-delay="0.5s">传真：86-21- 66185655</p>
                <p class="wow fadeInUp" data-wow-delay="0.5s">E-mail: tony@hl-js.com</p>
            </div>
            <div class="contactConBox layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4">
                <h2 class="wow fadeInUp" data-wow-delay="0.5s">北京办事处</h2>
                <p class="wow fadeInUp" data-wow-delay="0.5s">地址：北京市海淀区中关村大街32号 新中发电子市场2301</p>
                <p class="wow fadeInUp" data-wow-delay="0.5s">电话 ：010-62614336   13601197651 </p>
                <p class="wow fadeInUp" data-wow-delay="0.5s">传真：010-62614336 </p>
                <p class="wow fadeInUp" data-wow-delay="0.5s">E-mail: zhaozhongping@hl-js.com</p>
            </div>
            <div class="contactConBox layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4">
                <h2 class="wow fadeInUp" data-wow-delay="0.5s">USA Office</h2>
                <p class="wow fadeInUp" data-wow-delay="0.5s">Add：3322 W Torreys Peak Dr Superior, CO 80027, USA</p>
                <p class="wow fadeInUp" data-wow-delay="0.5s">Tel：303-257-6496</p>
            </div>
            <div class="contactConBox layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4">
                <h2 class="wow fadeInUp" data-wow-delay="0.5s">JAPAN Office</h2>
                <p class="wow fadeInUp" data-wow-delay="0.5s">Add：1-601, HARA, TENPAKU-KU NAGOYA, 468-0015, JAPAN</p>
                <p class="wow fadeInUp" data-wow-delay="0.5s">Tel：(052)804-3140</p>
                <p class="wow fadeInUp" data-wow-delay="0.5s">Fax：(052)804-3146</p>
            </div>
            <div class="contactConBox layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4">
                <h2 class="wow fadeInUp" data-wow-delay="0.5s">KOREA Office</h2>
                <p class="wow fadeInUp" data-wow-delay="0.5s">Add：563, JANGHANG-1DONG, ILSANG-KU, KOYANG-CITY, KYUNGKI-DO, KOREA</p>
                <p class="wow fadeInUp" data-wow-delay="0.5s">Tel：+82-31-908-0763~4</p>
                <p class="wow fadeInUp" data-wow-delay="0.5s">Fax：+82-31-908-0765</p>
            </div>
            <div class="contactConBox layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4">
                <h2 class="wow fadeInUp" data-wow-delay="0.5s">German Office</h2>
                <p class="wow fadeInUp" data-wow-delay="0.5s">Add： Dorfstraße 42, 24107 Ottendorf Deutschland/Germany</p>
                <p class="wow fadeInUp" data-wow-delay="0.5s">Tel：+49-431-2896-7138</p>
                <p class="wow fadeInUp" data-wow-delay="0.5s">Fax：+49-431-2893-7147</p>
            </div>
        </div>
    </div>
</section>
<!--联系我们内容区域 end-->
<include file="public:footer"/>
</body>
</html>