<?php error_reporting(0); ?>
<header id="header">
    <div class="layui-container sbc-space-between sbc-padding-1vw">
        <h1 class="tLogo">
            <img src="<yunu:config name='site_logo'/>" title="<yunu:config name="seo_title" />" alt="<yunu:config name="seo_title" />" >
            <div class="logo_dec">
                <p class="p1">无锡市前洲高压泵厂</p>
                <p class="p2">17年高压泵专业定制供应商</p>
            </div>
        </h1>
        <div class="tRight">
            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-dianhua"></use></svg>
            <div class="tRight_dec">
                <p class="p1">全国咨询热线</p>
                <p class="p2">138-1218-5573</p>
            </div>
        </div>
    </div>
    <ul class="main-menu sbc-justify-center">
                <?php $cid = isset($cid) ? $cid : 0;  ?>
                <li><a href="http://www.hl-js.com">网站首页</a></li>
                <yunu:nav typeid="1" limit="20">
                    <li>
                        <a href="{$nav.url}"<if condition="in_array($nav['id'],[20,30])">rel="nofollow"</if> target="{$nav.target}">{$nav.title}</a>
                        <dl>
                            <volist name="nav['child']" id="v">
                                <dd><a href="{$v.url}" target="{$nav.target}">{$v.title}</a></dd>
                            </volist>
                        </dl>
                    </li>
                </yunu:nav>
            </ul>
</header>
<!--banner部分  begin-->
<section class="layui-carousel" id="webBanner" style="width:100%;height:100%">
    <div carousel-item="">
        <div class="web-banner web-banner-1" title="{$site_info.site_name}">
            <div class="layui-container">
            </div>
        </div>
        <div class="web-banner web-banner-2" title="{$site_info.site_name}">
            <div class="layui-container">
            </div>
        </div>
        <div class="web-banner web-banner-3" title="{$site_info.site_name}">
            <div class="layui-container">
            </div>
        </div>
    </div>
</section>
<!--banner部分 end-->