<?php error_reporting(0); ?>
<section id="header">
    <div class="headerWarpper layui-container sbc-space-between">
        <div class="tLogo">
            <h1><img src="__PUBLIC__/img/other/logo.png" width="275" height="110"
                    title="首页 - {$site_info.site_name|default=''}" alt="首页 - {$site_info.site_name|default=''}"></h1>
        </div>
        <ul class="main-menu">
            <?php $cid = isset($cid) ? $cid : 0;  ?>
            <li><a href="http://www.one-stem.com">网站首页</a></li>
            <yunu:nav typeid="1" limit="20">
                <li>
                    <a href="{$nav.url}" target="{$nav.target}"  <if condition="in_array($nav['id'],[82])">rel="nofollow"</if> >{$nav.title}</a>
                    <dl> <volist name="nav['child']" id="v">
                        <dd><a href="{$v.url}" target="{$nav.target}">{$v.title}</a></dd>
                    </volist></dl>
                </li>
            </yunu:nav>
        </ul>
    </div>
</section>


