<footer>
    <section class="footer1">
        <div class="layui-container">
            <div class="layui-row">
                <div class="footer1-left layui-col-xs6 layui-col-sm6 layui-col-md6 layui-col-lg6">
                    <h2>章鱼小思<i>Inside</i></h2>
                    <p>联系QQ：291185</p>
                    <p>手机号码：186-5157-8961（同微信）</p>
                    <p>联系邮箱：gavin@one-stem.com</p>
                    <p>联系地址：江苏省无锡市滨湖区万顺道万科城市花园南区</p>
                </div>
                <div class="footer1-right layui-col-xs6 layui-col-sm6 layui-col-md6 layui-col-lg6">
                    <img class="ewm" src="__PUBLIC__/img/other/emw.jpg" alt="">
                    <p>关注微信公众号</p>
                </div>
            </div>
        </div>
    </section>
    <section class="footer2">
        <p>&copy; 2018 章鱼小思 版权所有</p>
        <p>手机板|<a href="http://www.miitbeian.gov.cn" target="_blank" rel="nofollow">苏ICP备18053501号-1</a></p>
    </section>
</footer>
<script src="//code.sunbingchen.cn/layui/layui.all.js"></script>
<script src="//code.sunbingchen.cn/swiper/js/swiper.min.js"></script>
<script src="//code.sunbingchen.cn/magnify/dist/jquery.magnify.min.js"></script>
<script src="__PUBLIC__/js/main-down.js"></script>