html, body{height:100%;}
.layui-container{max-width:1200px;}
h2{font-size:2vw;line-height:1.4;}
h3{font-size:1.2vw;line-height:1.4;}
.web-title1{padding:4.6vw 0 1vw;text-align:center;color:#ea5420;}
.web-title1 h3{text-transform:uppercase;}
.icon{width:1em; height:1em;vertical-align:-0.15em;fill:currentColor;overflow:hidden;}
#header .tLogo img{height:5vw;max-height:97px;display:inline-block;vertical-align:middle;}
#header .tLogo .logo_dec{display:inline-block;vertical-align:middle;}
#header .tLogo .logo_dec .p1{font-size:2vw;font-weight:600;color:#174290;}
#header .tLogo .logo_dec .p2{font-size:1.2vw;color:#868686;}
#header .tRight .icon{display:inline-block;vertical-align:middle;font-size:4vw;color:#ea5420;}
#header .tRight .tRight_dec{padding-left:0.2vw;padding-right:2vw;display:inline-block;vertical-align:middle;}
#header .tRight .tRight_dec .p1{font-size:1.5vw;color:#868686;}
#header .tRight .tRight_dec .p2{font-size:2vw;color:#ea5420; font-family:"Impact", serif;}
#header .main-menu{background-color:#174290;}
#header .main-menu li > a{display:inline-block;padding:0 2.6vw;text-align:center;height:100%;font-size:16px;color:#fff;}
#header .main-menu li{position:relative;line-height:3vw; font-size:0;-webkit-transition:.36s;-moz-transition:.36s;-ms-transition:.36s;-o-transition:.36s;transition:.36s;}
#header .main-menu li:hover{position:relative;overflow:inherit;}
#header .main-menu li:hover > a, #header .main-menu li.active > a{background-color:#ea5420;}
#header .main-menu li dl{position:absolute;top:5vw;left:0;width:100%;opacity:0;visibility:hidden;text-align:center;z-index:99999;-webkit-transition:.36s;-moz-transition:.36s;-ms-transition:.36s;-o-transition:.36s;transition:.36s;}
#header .main-menu li:hover dl{top:3.4vw;opacity:1;visibility:inherit;-webkit-transition:.36s;-moz-transition:.36s;-ms-transition:.36s;-o-transition:.36s;transition:.36s;}
#header .main-menu li dl dd{ line-height:2.2;border-top:1px solid rgba(255, 255, 255, .5);background-color:rgba(0, 0, 0, .5);}
#header .main-menu li dl dd:first-child{border-top:none;}
#header .main-menu li dl dd a{display:inline-block;width:100%; font-size:1.2vw;color:#fff;}
#header .main-menu li dl dd:hover a, #header .main-menu li dl dd.active a{color:#ea5420;}
#webBanner .layui-carousel-arrow{width:5vw;height:5vw;margin-top:-1vw;line-height:5vw;font-size:4vw;}
#webBanner .web-banner .img{position:absolute;font-size:2.5vw;font-weight:600;}
#webBanner .web-banner-1{color:#fff;background:url(../img/banner/banner1.jpg) no-repeat center/cover;}
#webBanner .web-banner-2{color:#3e3a39;background:url(../img/banner/banner2.jpg) no-repeat center/cover;}
#webBanner .web-banner-3{color:#3e3a39;background:url(../img/banner/banner3.jpg) no-repeat center/cover;}
#webBanner .layui-carousel-ind ul{position:absolute;left:12vw;bottom:2vw;padding:.4vw;}
#webBanner .layui-carousel-ind ul li{width:2vw;border-radius:0;background-color:#fff;-webkit-transition:.36s;-moz-transition:.36s;-ms-transition:.36s;-o-transition:.36s;transition:.36s;}
#webBanner .layui-carousel-ind ul li.layui-this{width:5vw;background-color:#ea5420;-webkit-transition:.36s;-moz-transition:.36s;-ms-transition:.36s;-o-transition:.36s;transition:.36s;}
.iService{position:relative;height:8vw;}
.iService:before{position:absolute;content:"";left:0;height:100%;width:40%;background-color:#174290;z-index:-1;}
.iService:after{position:absolute;content:"";right:0;height:100%;width:60%;background-color:#000; z-index:-1;}
.iService .layui-container{position:absolute;top:1.4vw;left:0;right:0;}
.iService .iService-left{position:absolute;left:16vw;font-size:1.4vw;color:#fff;text-align:center;}
.iService .iService-left .p2{margin-top:.6vw;display:inline-block;padding:0 3vw;border:.1vw solid #fff;}
.iService .iService-right{position:absolute;right:10vw;color:#fff;}
.iService .iService-right .iService-box{padding:0 1.5vw;text-align:center;border-left:.1vw solid #fff;}
.iService .iService-right .iService-box:first-child{border-left:0;}
.iService .iService-right .iService-box .icon{display:inline; font-size:2.6vw;}
.iService .iService-right .iService-box span{ margin-top:.4vw;display:block;font-size:1.2vw;}
.iAbout .iAbout-pic{width: 100%;height: 25vw;box-shadow: 0.3vw 0.3vw 1vw 0.2vw rgba(0, 0, 0, 0.5);}