<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="<yunu:config name='seo_keywords'/>">
    <meta name="description" content="<yunu:config name='seo_description'/>">
    <title>
        <yunu:config name="seo_title"/>-<yunu:config name='seo_keywords'/>
    </title>
    <include file="header:style"/>
</head>
<body>
<!--首页banner部分  begin-->
<section class="layui-carousel" id="webBanner" style="width:100%;height:100%">
    <include file="public:header" index="1"/>
    <div carousel-item="">
        <div class="web-banner web-banner-1" title="{$site_info.site_name}">
            <div class="layui-container">
                <p class="img ban1 animated fadeInUp wow" data-wow-delay="0s">HEAT MANAGEMENT SCHEME</p>
                <p class="img ban2 animated fadeInUp wow" data-wow-delay="0.4s">FOR POWER BATTERY</p>
                <p class="img ban3 animated fadeInUp wow" data-wow-delay="0.8s">动力电池
                    <span style="color:#ea5420">热管理</span>方案</p>
                <img src="__PUBLIC__/img/banner/iBanner1-4-1.png" class="img ban4-1 fadeInUp fast wow" data-wow-delay="1.2s">
                <img src="__PUBLIC__/img/banner/iBanner1-4-2.png" class="img ban4-2 fadeInUp fast wow" data-wow-delay="1.6s">
                <img src="__PUBLIC__/img/banner/iBanner1-4-3.png" class="img ban4-3 fadeInUp fast wow" data-wow-delay="2s">
            </div>
        </div>
        <div class="web-banner web-banner-2" title="{$site_info.site_name}">
            <div class="layui-container">
                <p class="img ban1 animated fadeInUp wow" data-wow-delay="0s">PIPELINE HEATING ND INTELLIGENT</p>
                <p class="img ban2 animated fadeInUp wow" data-wow-delay="0.4s">CONTROL SCHEME</p>
                <p class="img ban3 animated fadeInUp wow" data-wow-delay="0.8s">
                    <span style="color:#ea5420">管道加热</span>与智能控制方案</p>
                <img src="__PUBLIC__/img/banner/iBanner2-4-1.png" class="img ban4-1 animated fadeInUp wow" data-wow-delay="1.2s">
                <img src="__PUBLIC__/img/banner/iBanner2-4-2.png" class="img ban4-2 animated  fast wow" data-wow-delay="1.6s">
            </div>
        </div>
        <div class="web-banner web-banner-3" title="{$site_info.site_name}">
            <div class="layui-container">
                <p class="img ban1 animated fadeInUp wow" data-wow-delay="0s">MEDICAL DEVICE HEATER</p>
                <p style="color:#ea5420" class="img ban2 animated fadeInUp wow" data-wow-delay="0.4s">
                    医疗器械加热器</p>
                <img src="__PUBLIC__/img/banner/iBanner3-3.png" class="img ban3 animated fadeInUp wow" data-wow-delay="0.8s">
            </div>
        </div>
        <div class="web-banner web-banner-4" title="{$site_info.site_name}">
            <div class="layui-container">
                <p class="img ban1 animated fadeInUp wow" data-wow-delay="0s">SPECIALED IN R&D AND
                    MAUFACTURING</p>
                <p class="img ban2 animated fadeInUp wow" data-wow-delay="0.4s">超过<span>2O
                    年</span>的加热器研发及生产经验 </p>
            </div>
        </div>
    </div>
</section>
<!--首页banner部分 end-->
<!--首页关于我们部分&首页新闻部分 begin-->
<section class="Iabout-Inews">
    <div class="Bg wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s" data-wow-offset="150">
        <div class="IaboutBox layui-container">
            <div class="Iabout sbc-float-left">
                <div class="Iabout-title">
                    <h2>About us</h2>
                    <p>关于我们 </p>
                </div>
                <div class="Iabout-text">
                    辉龙公司坐落在长江三角洲开发重镇---江阴青阳镇，地处无锡市和江阴市之间，北倚长江、南临太湖，地理位置优越，交通便利，是理想的轻工业发展基地。公司专业研发和生产电加热器产品，广泛应用于新能源汽车、医疗器械、半导体、电力、化工、航空航天等领域。公司拥有先进的生产技术和完善的管理体系，先后通过了ISO9001、ISO/TS16949质量管理体系认证...
                </div>
                <a href="/about/" class="More">
                    <span>MORE</span>
                </a>
            </div>
        </div>
    </div>
    <div class="InewsBox layui-container">
        <div id="new" class="sbc-float-right">
            <div class="Inews-console wow animated fadeInUp" data-wow-delay="0.5s" data-wow-offset="150">
                <div class="Bg wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="2.5s" data-wow-offset="150">
                    <div class="iNbtn" id="iNbtn1"><i class="fas fa-angle-left"></i></div>
                    <div class="iNbtn" id="iNbtn2"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
            <section id="iNewsSwper" class="swiper-container wow animated fadeInUp" data-wow-delay="1.5s" data-wow-offset="200">
                <section class="swiper-wrapper Inews-swiper">
                    <section class="swiper-slide">
                        <section class="Inews-content">
                            <div class="Inews-title">
                                <h2>Industry News</h2>
                                <p>行业动态</p>
                            </div>
                            <ul class="Inews-ul">
                                <yunu:list cid="82" titlelen="20" orderby="sort desc" limit="16">
                                    <li>
                                        <a href="{$list.url}" title="{$list.title} - <yunu:config name=" seo_title"/> -
                                        <yunu:config name="site_title"/>" target="_blank">
                                        <div class="Inews-left">{$list.title|str2sub=12, true}</div>
                                        <div class="Inews-right">[{$list.update_time|date='Y-m-d',###}]</div>
                                        </a>
                                    </li>
                                </yunu:list>
                            </ul>
                            <a href="/news/industry/" class="More">
                                <span>MORE</span>
                            </a>
                        </section>
                    </section>
                    <section class="swiper-slide">
                        <section class="Inews-content">
                            <div class="Inews-title wow animated fadeInUp" data-wow-delay="0.5s">
                                <h2>Company News</h2>
                                <p>公司新闻</p>
                            </div>
                            <ul class="Inews-ul">
                                <ul class="Inews-ul">
                                    <yunu:list cid="83" titlelen="20" orderby="sort desc" limit="16">
                                        <li>
                                            <a href="{$list.url}" title="{$list.title} - <yunu:config name=" seo_title"/> -
                                            <yunu:config name="site_title"/>" target="_blank">
                                            <div class="Inews-left">{$list.title|str2sub=12, true}</div>
                                            <div class="Inews-right">[{$list.update_time|date='Y-m-d',###}]</div>
                                            </a>
                                        </li>
                                    </yunu:list>
                                </ul>
                            </ul>
                            <a href="/news/company/" class="More">
                                <span>MORE</span>
                            </a>
                        </section>
                    </section>
                </section>
            </section>
        </div>
    </div>
</section>
<!--首页关于我们部分&首页新闻部分 end-->
<!--首页应用领域部分 begin-->
<section class="Iapplication">
    <section class="Iapplication-content  layui-container">
        <section class="Iapplication-title wow animated fadeInUp" data-wow-delay="0.5s" data-wow-offset="100">
            <h2>APPLICATION AREA</h2>
            <p>应用领域</p>
        </section>
        <section class="Iapplication-box Iapplication-box1">
            <a href="/application/app6/">
                <div class="pic wow animated fadeInUp" data-wow-offset="50">
                    <img class="wow animated fadeInUp" data-wow-delay="1s" data-wow-offset="50" src="__PUBLIC__/img/Iapplication/box1.jpg" alt="">
                </div>
                <div class="textbox wow animated fadeInUp" data-wow-offset="50">
                    <div class="textbox-content wow animated  fadeInUp" data-wow-delay="1s" data-wow-offset="50">
                        <div class="gradient wow animated fadeIn" data-wow-delay="2s" data-wow-offset="50"></div>
                        <div class="title">
                            <p>New energy electric vehicle</p>
                            <p>新能源电动汽车</p>
                        </div>
                        <span class="ico"></span>
                        <img class="num" src="__PUBLIC__/img/Iapplication/Iapplication-num1.png" alt="">
                    </div>
                </div>
            </a>
        </section>
        <section class="Iapplication-box Iapplication-box2">
            <a href="/application/app2/">
                <div class="textbox wow animated fadeInUp" data-wow-offset="50">
                    <div class="textbox-content wow animated  fadeInUp" data-wow-offset="50">
                        <img class="num" src="__PUBLIC__/img/Iapplication/Iapplication-num2.png" alt="">
                        <div class="title">
                            <p>Medical industry</p>
                            <p>医疗行业</p>
                            <p class="dec">产品广泛应用于医疗行业，加热稳定性好，质量轻，产品设计灵活多变，根据实际的使用设备来设计，多种材质可选，安装使用方便快捷。</p>
                        </div>
                        <span class="ico"></span>
                    </div>
                </div>
                <div class="pic wow animated fadeInUp" data-wow-offset="50">
                    <img class="wow animated fadeInUp" data-wow-delay="1s" data-wow-offset="50" src="__PUBLIC__/img/Iapplication/box2.jpg" alt="">
                </div>
            </a>
        </section>
        <section class="Iapplication-box Iapplication-box3">
            <a href="/application/app4/">
                <div class="pic wow animated fadeInUp" data-wow-offset="50">
                    <img class="wow animated fadeInUp" data-wow-delay="1s" data-wow-offset="50" src="__PUBLIC__/img/Iapplication/box3.jpg" alt="">
                </div>
                <div class="textbox wow animated fadeInUp" data-wow-offset="50">
                    <div class="textbox-content wow animated  fadeInUp" data-wow-delay="1s" data-wow-offset="50">
                        <div class="gradient wow animated fadeIn" data-wow-delay="2s" data-wow-offset="50"></div>
                        <div class="title">
                            <p>Semiconductor industry</p>
                            <p>半导体行业</p>
                        </div>
                        <span class="ico"></span>
                        <img class="num" src="__PUBLIC__/img/Iapplication/Iapplication-num3.png" alt="">
                    </div>
                </div>
            </a>
        </section>
        <section class="Iapplication-box Iapplication-box4">
            <a href="/application/app3/">
                <div class="textbox wow animated fadeInUp" data-wow-offset="50">
                    <div class="textbox-content wow animated  fadeInUp" data-wow-offset="50">
                        <img class="num" src="__PUBLIC__/img/Iapplication/Iapplication-num4.png" alt="">
                        <div class="title">
                            <p>Sensing and measurement</p>
                            <p>传感与测量</p>
                            <p class="dec">产品广泛应用于测量行业，控制器应用灵活，根据实际的使用设备来设计。</p>
                        </div>
                        <span class="ico"></span>
                    </div>
                </div>
                <div class="pic wow animated fadeInUp" data-wow-offset="50">
                    <img class="wow animated fadeInUp" data-wow-delay="1s" data-wow-offset="50" src="__PUBLIC__/img/Iapplication/box4.jpg" alt="">
                </div>
            </a>
        </section>
    </section>
</section>
<!--首页应用领域部分 end-->
<!--首页我们的优势部分 begin-->
<section class="Iadvantage">
    <section class="Iadvantage-warpper layui-container">
        <section class="Iadvantage-title wow animated fadeInUp" data-wow-delay="0.5s" data-wow-offset="300">
            <h2>Our Advantages</h2>
            <h2>我们的优势</h2>
            <p>为多行业领导企业提供加热及控制的解决方案</p>
        </section>
        <section class="Iadvantage-content sbc-space-between">
            <div class="box wow animated fadeInUp" data-wow-delay="0.5s" data-wow-offset="80">
                <div class="icon-pic icon-pic1">
                    <img alt="" src="__PUBLIC__/img/Iadvantage/icon1.png"/>
                </div>
                <div class="icon-text">
                    <h2>design</h2>
                    <h3>优秀的创新设计能力</h3>
                    <p class="text">为多行业领导企业提供<span>加热及控制的解决方案</span>客户intel、appllied material，lam，京东方、天马、镁光、长城、普莱德、力神、飞利浦、GE、鱼跃……
                    </p>
                </div>
            </div>
            <div class="box wow animated fadeInUp" data-wow-delay="1s" data-wow-offset="80">
                <div class="icon-pic icon-pic2">
                    <img alt="" src="__PUBLIC__/img/Iadvantage/icon2.png"/>
                </div>
                <div class="icon-text">
                    <h2>production</h2>
                    <h3>超过20年的加热器研发和生产经验</h3>
                    <p class="text">年产加热器可达到<span>百万片/套</span>以上</p>
                </div>
            </div>
            <div class="box wow animated fadeInUp" data-wow-delay="1.5s" data-wow-offset="80">
                <div class="icon-pic icon-pic3">
                    <img alt="" src="__PUBLIC__/img/Iadvantage/icon3.png"/>
                </div>
                <div class="icon-text">
                    <h2>product</h2>
                    <h3>自主设计及生产发热膜</h3>
                    <p class="text">严格且全面的产品质量控制，产品寿命最长可达到<span>10年以上</span></p>
                </div>
            </div>
        </section>
    </section>
</section>
<!--首页我们的优势部分 end-->
<!--首页主要客户部分 begin-->
<section class="Icustomer">
    <section class="Icustomer-title wow animated fadeInUp" data-wow-delay="0.5s" data-wow-offset="300">
        <h2>Major Customers</h2>
        <h2>主要客户</h2>
        <p>真诚、共赢、无微不至</p>
    </section>
    <!--首页主要客户轮播 begin-->
    <div class="layui-container wow animated fadeInUp" id="iCustomer" data-wow-delay="0.9s">
        <div class="swiper-container icustomer-slide">
            <div class="swiper-wrapper">
                <yunu:list cid="94" titlelen="20" orderby="sort desc">
                    <div class="swiper-slide">
                        <a class="web-pic-box pic" href="{$list.url}"
                                title="{$list.title} - <yunu:config name="seo_title"/> - <yunu:config name="site_title"/>" target="_blank">
                        <img src="{$list.pic}" alt="{$list.title} - <yunu:config name="seo_title"/> - <yunu:config name="site_title"/>" title="{$list.title} - <yunu:config name="seo_title"/> - <yunu:config name="site_title"/>">
                        </a>
                    </div>
                </yunu:list>
            </div>
        </div>
        <div class="iCusbtn iCusbtn1" id="iCusbtn1"><i class="fas fa-angle-left"></i></div>
        <div class="iCusbtn iCusbtn2" id="iCusbtn2"><i class="fas fa-angle-right"></i></div>
    </div>
    <!--首页主要客户轮播 end-->
</section>
<!--首页主要客户部分 end-->
<include file="public:footer"/>
</body>
</html>
