<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="<yunu:config name='seo_keywords'/>">
  <meta name="description" content="<yunu:config name='seo_description'/>">
  <title>{$category.title} - <yunu:config name="site_title"></title>
  <include file="header:style"/>
</head>
<body>
<!--内容页banner部分  begin-->
<section class="pBanner pBanner1">
  <include file="public:header"/>
  <div class="pBanner_con layui-container">
    <h2>{$type.subtitle}</h2>
    <h3>{$type.title}</h3>
  </div>
</section>
<!--内容页banner部分 end-->
<!--内容页导航区域 begin-->
<section class="pages_nav">
  <ul class="pagesNavUl layui-container animated fadeInUp wow">
    <yunu:catlist cid="$category['id']" type="parent" limit="20" flag="0">
      <li <if condition="$catlist['id'] eq $cid || $catlist['id'] eq $category['pid']">class="active"</if>>
      <a href="{$catlist.url}">{$catlist.title}</a>
      </li>
    </yunu:catlist>
  </ul>
</section>
<!--内容页导航区域 end-->
<!--内容页内容区域 begin-->
<section class="NewsCon pageCon layui-clear layui-container sbc-padding-2vw">
  <main class="main sbc-float-left">
    <h2 class="pageCon_title animated fadeInUp wow" data-wow-delay="0.3s">{$content.title}</h2>
    <p class="pageCon_dec animated fadeInUp wow" data-wow-delay="0.6s">
      <span>发布时间：{$content.create_time|date='Y-m-d',###}</span>
      <span>{$content.click} 次浏览</span>
    </p>
    <div class="pageCon animated fadeInUp wow" data-wow-delay="1s">{$content.content|sitelink}</div>
    <p class="pageCon_author animated fadeInUp wow" data-wow-delay="0.5s" data-wow-offset="50">文章编辑：辉龙编辑</p>
    <hr>
    <!--内容页前后一页部分 begin-->
    <section class="pageCon_flip animated fadeInUp wow" data-wow-delay="0.5s">
      <div class="layui-row">
        <section class="flip_prev layui-col-xs6 layui-col-sm6 layui-col-md6 layui-col-lg6"><i class="fas flip_icon fa-chevron-left"></i>{$content.prev}</section>
        <section class="flip_next sbc-text-right layui-col-xs6 layui-col-sm6 layui-col-md6 layui-col-lg6">{$content.next}<i class="fas flip_icon fa-chevron-right"></i></section>
      </div>
    </section>
	<!--内容页前后一页部分 end-->
  </main>
  <!--右侧文章列表 相关内容区域 begin-->
  <aside class="aside sbc-float-right">
    <h2 class="aside_titile animated fadeInUp wow">相关内容
      <small>Related</small>
    </h2>
    <ul class="aside_list clearfix animated fadeInUp wow">
        <yunu:list cid="$cid" titlelen="20" orderby="create_time desc" limit="10">
      <li>
        <a class="clearfix" href="{$list.url}" title="{$list.title}" target="_blank">
          <span class="aside_list-l">{$list.title}</span>
          <span class="aside_list-r">{$list.create_time|date='Y-m-d',###}</span>
        </a>
      </li>
        </yunu:list>
    </ul>
  </aside>
  <!--右侧文章列表 相关内容区域 end-->
</section>
<!--内容页内容区域 end-->
<include file="public:footer" />
</body>
</html>